<div class="login">
  <div class="loginContainer">
    <span class="yzCodeTip"></span>
    <!--<i class="maskOff" ng-click="hidePopup()"></i>-->
    <!--<div class="loginTitleWord"></div>-->
    <ul class="loginInner">
      <li class="loginClass login-pad login_user"><input type="text" name="username" placeholder="User Name"></li>
      <li class="loginClass login-pad login_pass"><input type="password" name="password" placeholder="Password"></li>
      <li class="loginYz"><input type="text" name="code" placeholder="Verification Code"
                                 class="loginClass login_yzcode">
        <div>
          <img src="" alt="" id="captchaCode" style="width: 100%;height: 100%;">
        </div>
      </li>
      <li class="loginIn" id="login"><input type="button" value="Sign in"></li>
    </ul>
    <div class="loginHint">Do not have an account? please download owlzer App to register</div>
    <ul class="QRCodeBox clearFix">
      <li class="fl QRCodeLi">
        <img class="QRCode" src="./images/ios.png" alt="">
        <span>iOS</span>
      </li>
      <li class="fl QRCodeLi">
        <img class="QRCode" src="./images/android.png" alt="">
        <span>Andriod</span>
      </li>
    </ul>
  </div>
  <!--<div class="loginBottom">盯盯拍(深圳)技术股份有限公司</div>-->
</div>
