<div class="name01">
  <h1></h1>
  <h2></h2>
</div>
<div class="name02">
  <h1>Real-time online pictures pushed to Owlzer App</h1>
  <h2>Remote data collection<br/>
    &middot; Camera location checking<br/>
    &middot; 4G data plan checking<br/>
    &middot; Battery capacity report<br/>
    &middot; Pictures and Video data daily report<br/>
    &middot; Micro SD card fail warning<br/>
    &middot; Camera setting
  </h2>
</div>
<div class="name03">
  <h1>Wifi data transfer</h1>
  <h2>5-10M wireless video, images and data transfer from camera to mobile phone by Wifi connection</h2>
</div>
<div class="name04">
  <h1>Persistent power system</h1>
  <h2>Built-in rechargeable lithium battery <br/>
    Owlzer solar panel provide constantly power supply <br/>
    Remote battery power report
  </h2>
</div>
<div class="name05">
  <h1>Clear beyond your imagination</h1>
  <!--<h2>5-10M wireless video, images and data transfer from camera to mobile phone by Wifi connection</h2>-->
  <span class="name05_01">Super night vision</span>
  <span class="name05_02">940nm infrared LED lighting sets <br/>
								More clear in dark environment<br/>
								Invisible for animal
		</span>
</div>
<div class="name06">
  <h1>Friendly App for iOS and Android</h1>
  <h2>Download from apple store or google play<br/>
    Visual interface for camera setting<br/>
    Downloading images and videos to mobile phone<br/>
    Remote living preview
  </h2>
  <span class="name06_01">APP Download</span>
</div>
