<div class="spec">
  <div class="main">

    <div class="property">
      <table width="100%" border="0" cellpadding="3" cellspacing="1" class="one">
        <tr>
          <td rowspan="1" class="th" style=" color:#1f7438; font-size:36px;">SPECS</td>
          <td><img src="./images/spec.png" width="850" height="430"></td>
        </tr>

      </table>
      <table width="100%" border="0" cellpadding="3" cellspacing="1">
        <tr>
          <td rowspan="5" class="th">Physical Specification</td>
          <td class="thh">Three-proof system</td>
          <td>IP65</td>
        </tr>
        <tr>
          <td class="thh">Working temperature</td>
          <td>-20&#8451;~ 60&#8451;</td>
        </tr>
        <tr>
          <td class="thh">Storage temperature</td>
          <td>-20&#8451;~ 70&#8451;</td>
        </tr>
        <tr>
          <td class="thh">Operation Humidity</td>
          <td>5% ~ 95%</td>
        </tr>
        <tr>
          <td class="thh">Certificate</td>
          <td>CE(R&TTE、SAR、ROHS)、FCC</td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="3" cellspacing="1">
        <tr>
          <td rowspan="11" class="th">Hardware Configuration</td>
          <td class="thh">Processor</td>
          <td>HUAWEI Hisilion 4K Processer</td>
        </tr>
        <tr>
          <td class="thh">RAM</td>
          <td>2Gbit DDR3 RAM</td>
        </tr>
        <tr>
          <td class="thh">Image Sensor</td>
          <td>Panasonic 1/2.33 16Mega pixels CMOS Sensor</td>
        </tr>
        <tr>
          <td class="thh">Lens</td>
          <td>8-lays Glasses Lens<br/>
            Horizontal field angle 112°<br/>
            Diagonal FOV 138°<br/>
            Aperture F1.8
          </td>
        </tr>
        <tr>
          <td class="thh">Memory</td>
          <td>TF card slot<br/>
            Support UP to 64GB TF Card
          </td>
        </tr>
        <tr>
          <td class="thh">IR Flash</td>
          <td>940nm, 20 meters<br/>
            Max 9.6W capacity, Intelligent power regulation
          </td>
        </tr>
        <tr>
          <td class="thh">PIR Sensor</td>
          <td>Sensing Distance: 20m<br/>
            Sensing Angle: 90°<br/>
            Sensitivity adjustable<br/>
            Trigger Time: 0.6s
          </td>
        </tr>
        <tr>
          <td class="thh">MIC</td>
          <td>48k Sample rate audio recording</td>
        </tr>
        <tr>
          <td class="thh">WiFi</td>
          <td>2.4GHz<br/>
            15M wireless video transfer
          </td>
        </tr>
        <tr>
          <td class="thh">Battery</td>
          <td>Rechargeable lithium battery<br/>
            16.28W (2200mAH,7.4V)
          </td>
        </tr>
        <tr>
          <td class="thh">Power Consumption</td>
          <td></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="3" cellspacing="1">
        <tr>
          <td rowspan="2" class="th">Optional Assesories</td>
          <td class="thh">4G Module</td>
          <td>Global Frequency<br/>
            FDD LTE: B2/B4/B12 WCDMA: B2/B4/B5<br/>
            FDD LTE: B1/B3/B5/B7/B8/B20;TDD LTE: B38/B40/B41 ;WCDMA: B1/B5/B8 ;GSM: 900/1800.<br/>
            FDD LTE: B4/B13<br/>
            FDD LTE: B1/B3/B5/B7/B28;WCDMA: B1/B5
          </td>
        </tr>
        <!--<tr>
            <td class="thh">Solar panels</td>
            <td></td>
        </tr>-->

      </table>
      <table width="100%" border="0" cellpadding="3" cellspacing="1">
        <tr>
          <td rowspan="2" class="th">Image</td>
          <td class="thh">Video</td>
          <td>Resolution configurable in OWLZER Apps:<br/>
            1440P@30fps<br/>
            1080P@30fps<br/>
            720P@30fps<br/>
            Video clips length configurable: 10s, 30s, 60s
          </td>
        </tr>
        <tr>
          <td class="thh">Picture</td>
          <td>16M (4608*3456) for photograph only<br/>
            8M (3840*2160) for photograph and video recording simultaneous<br/>
            Sigle shooting and double/triple Shooting mode
          </td>
        </tr>

      </table>
      <table width="100%" border="0" cellpadding="3" cellspacing="1">
        <tr>
          <td rowspan="9" class="th">Apps</td>
          <td class="thh">Mobile OS</td>
          <td></td>
        </tr>
        <tr>
          <td class="thh">Pictures pushing</td>
          <td></td>
        </tr>
        <tr>
          <td class="thh">Camera location checking</td>
          <td></td>
        </tr>
        <tr>
          <td class="thh">4G data plan checking</td>
          <td></td>
        </tr>
        <tr>
          <td class="thh">Battery capacity report</td>
          <td></td>
        </tr>
        <tr>
          <td class="thh">Pictures and Video data daily report</td>
          <td></td>
        </tr>
        <tr>
          <td class="thh">SD card fail warning</td>
          <td></td>
        </tr>
        <tr>
          <td class="thh">Camera setting</td>
          <td></td>
        </tr>
        <tr>
          <td class="thh">Live preview, playback and download</td>
          <td></td>
        </tr>
      </table>
      <table class="two" width="100%" border="0" cellpadding="3" cellspacing="1">
        <tr>
          <td rowspan="1" class="th">Packaging</td>
          <td>
            <div class="txx"></div>
          </td>

        </tr>

      </table>
    </div>
  </div>
</div>